<ion-view title="Artikel" id="page25">
  <ion-content padding="true" class="has-header">
    <ion-list id="artikel-list8">
      <ion-item class="item-thumbnail-left" id="artikel-list-item33" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="artikel-list-item34" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="artikel-list-item35" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="artikel-list-item36" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="list card" id="artikel-card23">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="artikel-list-item-container4">
        <div id="artikel-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="artikel-list-item37">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>