<ion-view title="Bantuan" id="bantuan" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" id="bantuan" class="has-header">
    <button class="button button-icon icon ion-help"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    
	
<div class="list card">
	<a  id="menu-list-item12" ui-sref="menu.fAQs()" class="item item-icon-left" >
		<i class="icon"><img src="img/bantuan/faq.png" style="width: 30px;height: 30px;"></i>
	    FaQs
	</a>

	<a href="#" class="item item-icon-left">
		<i class="icon"><img src="img/bantuan/kontak.png" style="width: 30px;height: 30px;"></i>
	    Kontak
	</a>

	<a href="#" class="item item-icon-left">
		<i class="icon"><img src="img/bantuan/info.png" style="width: 30px;height: 30px;"></i>
	    Info App
	</a>
</div>
    
  </ion-content>
</ion-view>
