<ion-view title="Berita" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.beritaReportase()" id="berita-button64" class="button button-positive button-block">Berita &amp; reportase</a>
    <a ui-sref="menu.pengumuman()" id="berita-button65" class="button button-positive button-block">Pengumuman</a>
    <a ui-sref="menu.siaranPers()" id="berita-button66" class="button button-positive button-block">Siaran Pers</a>
    <a ui-sref="menu.artikel()" id="berita-button67" class="button button-positive button-block">Artikel</a>
    <a ui-sref="menu.rangkumanKegiatan()" id="berita-button72" class="button button-positive button-block">Rangkuman Kegiatan</a>
  </ion-content>
</ion-view>