<ion-view title="Berita &amp; Reportase" id="page21">
  <ion-content padding="true" class="has-header">
    <ion-list id="beritaReportase-list5">
      <ion-item class="item-thumbnail-left" id="beritaReportase-list-item16" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="beritaReportase-list-item17" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="beritaReportase-list-item18" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="beritaReportase-list-item19" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>