<ion-view title="Brosur" id="page17">
  <ion-content padding="true" class="has-header">
    <button id="brosur-button101" class="button button-positive button-block">Pupuk Urea</button>
    <button id="brosur-button103" class="button button-positive button-block">Pupuk ZA</button>
    <button id="brosur-button104" class="button button-positive button-block">Pupuk SP-36</button>
    <button id="brosur-button105" class="button button-positive button-block">Pupuk Phonska</button>
    <button id="brosur-button106" class="button button-positive button-block">Pupuk Phonska Plus</button>
    <button id="brosur-button107" class="button button-positive button-block">Pupuk NPK Kebomas</button>
    <button id="brosur-button108" class="button button-positive button-block">Pupuk ZK</button>
    <button id="brosur-button109" class="button button-positive button-block">Pupuk BioFertil</button>
    <button id="brosur-button110" class="button button-positive button-block">Pupuk BioFeed</button>
    <button id="brosur-button111" class="button button-positive button-block">Petro CAS</button>
    <button id="brosur-button112" class="button button-positive button-block">Petro Chick</button>
    <button id="brosur-button113" class="button button-positive button-block">Petro Chili</button>
    <button id="brosur-button114" class="button button-positive button-block">Petro Fish</button>
    <button id="brosur-button115" class="button button-positive button-block">Petro Hibrid</button>
    <button id="brosur-button116" class="button button-positive button-block">Petro Hicorn</button>
    <button id="brosur-button117" class="button button-positive button-block">Petroponic</button>
    <button id="brosur-button118" class="button button-positive button-block">Petro Seed</button>
    <button id="brosur-button119" class="button button-positive button-block">Fit Rice</button>
    <button id="brosur-button120" class="button button-positive button-block">Gladiator</button>
    <button id="brosur-button121" class="button button-positive button-block">Kaptan</button>
  </ion-content>
</ion-view>