<ion-view title="CSR" id="page8" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-sync"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.binaLingkungan()" id="cSR-button13" class="button button-positive button-block">Bina Lingkungan</a>
    <a ui-sref="menu.kemitraan()" id="cSR-button14" class="button button-positive button-block">Kemitraan</a>
    <a ui-sref="menu.lolapil()" id="cSR-button15" class="button button-positive button-block">Loka Pelatihan Ketrampilan</a>
    <button id="cSR-button16" class="button button-positive button-block">Warta KBL 2014</button>
    <button id="cSR-button17" class="button button-positive button-block">Warta KBL 2016</button>
  </ion-content>
</ion-view>