<ion-view title="Judul Berita" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="judulBerita-form1" class="list">
      <label class="item item-input" id="judulBerita-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="judulBerita-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>