<ion-view title="Laporan" id="page4" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-document"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="laporan-form2" class="list">
      <label class="item item-input" id="laporan-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>