<ion-view title="Non Pupuk" id="page16">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.cementRetarder()" id="nonPupuk-button87" class="button button-positive button-block">Cement Retarder</a>
    <a ui-sref="menu.bahanKimia()" id="nonPupuk-button88" class="button button-positive button-block">Bahan Kimia</a>
    <a ui-sref="menu.kapurPertanian()" id="nonPupuk-button89" class="button button-positive button-block">Kapur Pertanian</a>
    <a ui-sref="menu.petroCas()" id="nonPupuk-button90" class="button button-positive button-block">Petro - Cas</a>
    <a ui-sref="menu.petroGladiator()" id="nonPupuk-button91" class="button button-positive button-block">Petro Gladiator</a>
    <a ui-sref="menu.petroHibrid()" id="nonPupuk-button92" class="button button-positive button-block">Petro Hibrid</a>
    <a ui-sref="menu.petroSeed()" id="nonPupuk-button93" class="button button-positive button-block">Petro Seed</a>
    <a ui-sref="menu.petroHiCorn()" id="nonPupuk-button94" class="button button-positive button-block">Petro Hi-Corn</a>
    <a ui-sref="menu.petroFish()" id="nonPupuk-button95" class="button button-positive button-block">Petro Fish</a>
    <a ui-sref="menu.petroChili()" id="nonPupuk-button96" class="button button-positive button-block">Petro Chili</a>
    <a ui-sref="menu.petroBiofeed()" id="nonPupuk-button97" class="button button-positive button-block">Petro Biofeed</a>
    <a ui-sref="menu.petroChick()" id="nonPupuk-button98" class="button button-positive button-block">Petro Chick</a>
    <a ui-sref="menu.fitRice()" id="nonPupuk-button99" class="button button-positive button-block">Fit Rice</a>
    <a ui-sref="menu.jasa()" id="nonPupuk-button100" class="button button-positive button-block">Jasa</a>
  </ion-content>
</ion-view>