<ion-view title="Pedoman Kerja Komite" id="page90">
<!-- ========================================== CSS =================================================== -->
  <style type="text/css">
  .header-makna{
    background-color: #00b052;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .text-bodyMakna{
    color: #000;
    font-weight: bold;
    font-family: fantasy;
    text-align: justify;
  }
  .item p{
    text-align: justify;
  }

</style>
<!-- ========================================== END CSS ================================================ -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
    	<div class="item item-divider header-makna">
        Pedoman Kerja Komite Man Resiko
      </div>
      <ion-item class="item-body">
        <div>
      		<button>DOWNLOAD</button>
          <button>SAVE</button>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>