<ion-view title="Pemasaran" id="page3" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sistemDistribusi()" id="pemasaran-button7" style="text-align:left;" class="button button-balanced button-block">Sistem Distribusi</a>
    <a ui-sref="menu.layananPenjualan()" id="pemasaran-button8" style="text-align:left;" class="button button-balanced button-block">Layanan Penjualan</a>
    <button id="pemasaran-button9" style="text-align:left;" class="button button-balanced button-block">Distributor</button>
    <button id="pemasaran-button10" style="text-align:left;" class="button button-balanced button-block">Staf Perwakilan Daerah Penjualan</button>
    <button id="pemasaran-button11" style="text-align:left;" class="button button-balanced button-block">Gudang Penyangga</button>
    <a ui-sref="menu.kontakPemasaran()" id="pemasaran-button12" style="text-align:left;" class="button button-balanced button-block">Kontak Pemasaran</a>
  </ion-content>
</ion-view>