<ion-view title="Pemasaran" id="page3" style="background-color:#FDFDFD;">

<style type="text/css">
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
</style>

  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <button class="accordion">Sistem Distribusi</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Layanan Penjualan</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Distributor</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Staf Perwakilan Daerah Penjualan</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Gudang Penyangga</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Kontak Pemasaran</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>
  </ion-content>
</ion-view>