<ion-view title="Pengumuman" id="page23">
  <ion-content padding="true" class="has-header">
    <ion-list id="pengumuman-list6">
      <ion-item class="item-thumbnail-left" id="pengumuman-list-item20" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="pengumuman-list-item21" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="pengumuman-list-item22" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="pengumuman-list-item23" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="list card" id="pengumuman-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="pengumuman-list-item-container2">
        <div id="pengumuman-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="pengumuman-list-item27">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>