<ion-view title="Profil" id="page5" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-contact"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button id="profil-button40" class="button button-positive button-block">Profil Perusahaan</button>
    <button id="profil-button25" class="button button-positive button-block">Makna Logo</button>
    <button id="profil-button26" class="button button-positive button-block">Sejarah Perusahaan</button>
    <button id="profil-button27" class="button button-positive button-block">Visi Misi</button>
    <button id="profil-button28" class="button button-positive button-block">Kapasitas Produksi</button>
    <button id="profil-button29" class="button button-positive button-block">Fasilitas</button>
    <button id="profil-button30" class="button button-positive button-block">Manajemen</button>
    <button id="profil-button31" class="button button-positive button-block">Struktur Organisasi</button>
    <button id="profil-button32" class="button button-positive button-block">SDM</button>
    <button id="profil-button33" class="button button-positive button-block">Mitra</button>
    <button id="profil-button34" class="button button-positive button-block">LK3</button>
    <button id="profil-button35" class="button button-positive button-block">Penghargaan</button>
    <button id="profil-button36" class="button button-positive button-block">Komite Audit</button>
    <button id="profil-button37" class="button button-positive button-block">Komite Manajemen Resiko</button>
    <button id="profil-button38" class="button button-positive button-block">Profesi Penunjang</button>
    <button id="profil-button39" class="button button-positive button-block">Inovasi</button>
    <button id="profil-button41" class="button button-positive button-block">Mars Petro</button>
    <button id="profil-button42" class="button button-positive button-block">Video Profil Perusahaan</button>
    <div id="profil-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>