<ion-view title="Profil" id="page5" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-contact"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.maknaLogo()" id="profil-button25" class="button button-positive button-block">Makna Logo</a>
    <a ui-sref="menu.sejarahPerusahaan()" id="profil-button26" class="button button-positive button-block">Sejarah Perusahaan</a>
    <a ui-sref="menu.visiMisiDanBudayaPerusahaan()" id="profil-button27" class="button button-positive button-block">Visi Misi</a>
    <a ui-sref="menu.kapasitasProduksi()" id="profil-button28" class="button button-positive button-block">Kapasitas Produksi</a>
    <a ui-sref="menu.fasilitasInfrastruktur()" id="profil-button29" class="button button-positive button-block">Fasilitas Infrastruktur</a>
    <a ui-sref="menu.manajemen()" id="profil-button30" class="button button-positive button-block">Manajemen</a>
    <button id="profil-button31" class="button button-positive button-block">Struktur Organisasi</button>
    <a ui-sref="menu.maknaLogo()" id="profil-button142" class="button button-positive button-block">Anak Perusahaan &amp; Usaha Patungan</a>
    <a ui-sref="menu.sumberDayaManusia()" id="profil-button32" class="button button-positive button-block">Sumber Daya Manusia</a>
    <a ui-sref="menu.lingkunganK3()" id="profil-button34" class="button button-positive button-block">Lingkungan K3</a>
    <a ui-sref="menu.penghargaanPrestasi()" id="profil-button35" class="button button-positive button-block">Penghargaan &amp; Prestasi</a>
    <a ui-sref="menu.komiteAudit()" id="profil-button36" class="button button-positive button-block">Komite Audit</a>
    <a ui-sref="menu.komiteManajemenRisiko()" id="profil-button37" class="button button-positive button-block">Komite Manajemen Resiko</a>
    <a ui-sref="menu.profesiPenunjang()" id="profil-button38" class="button button-positive button-block">Profesi Penunjang</a>
    <button id="profil-button39" class="button button-positive button-block">Inovasi</button>
    <button id="profil-button143" class="button button-positive button-block">Profil Perusahaan PDF</button>
    <a ui-sref="menu.marsPetrokimiaGresik()" id="profil-button41" class="button button-positive button-block">Mars Petrokimia Gresik</a>
    <a ui-sref="menu.videoProfilPerusahaan()" id="profil-button42" class="button button-positive button-block">Video Profil Perusahaan</a>
  </ion-content>
</ion-view>