<ion-view title="Profil" id="page5" style="background-color:#FDFDFD;">

<style type="text/css">
    a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-family: fantasy;
    }
    .icon-menuProfil{
        font-size: 40px;
        color: #00b052;
    }
    .col-4{
        margin-top: 6px;
        margin-right: 10px;
        margin-bottom: 22px;
        border-bottom-style: hidden;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
    }
    .item p {
        color: #000;
        margin-top: 1px;
        text-align: center;
    }
    .card.profil{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 10px;
    }
    h4.textIcon{
        padding-left: 5px;
        padding-right: 5px;
    }
    

</style>

    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-contact"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header" offset-50>
        <div class="row item-text-wrap text-center" >
            <div class="item col col-4">
                <div class="card profil">
                    <a ui-sref="menu.maknaLogo()" id="profil-button25">
                        <i class="icon"><img src="img/profil/makna.png" style="width: 50px;height: 50px;margin-bottom: 5px;"></i>
                            <div class="container">
                                <h4 class="textIcon"><b>Makna Logo</b></h4>
                            </div>
                    </a>
                </div> 
            </div>  
            <div class="item col col-4 " >
                <div class="card profil">
                    <a ui-sref="menu.sejarahPerusahaan()" id="profil-button26">
                        <i class="icon"><img src="img/profil/pabrik.png" style="width: 50px;height: 50px;margin-bottom: 5px;"></i>
                            <div class="container">
                                <h4 class="textIcon"><b>Sejarah Perusahaan</b></h4>
                            </div>
                    </a>
                </div> 
            </div>   
        </div>
        <div class="row item-text-wrap text-center" style="margin-top: -47px;">
            <div class="item col col-4">
                <div class="card profil">
                    <a id="profil-button39">
                        <i class="icon"><img src="img/profil/inovasi.png" style="width: 50px;height: 50px; margin-bottom: 5px;"></i>
                            <div class="container">
                                <h4 class="textIcon"><b>Inovasi</b></h4>
                            </div>
                    </a>
                </div> 
            </div>  
            <div class="item col col-4" >
                <div class="card profil">
                    <a ui-sref="menu.visiMisiDanBudayaPerusahaan()" id="profil-button27">
                        <i class="icon"><img src="img/profil/visimisi.png" style="width: 50px;height: 50px;margin-bottom: 5px;"></i>
                            <div class="container ">
                                <h4 class="textIcon"><b>Visi Misi & Tata Nilai</b></h4>
                            </div>
                    </a>
                </div> 
            </div> 
        </div>


        <div class="row item-text-wrap text-center" style="margin-top: -47px;">
        <div class="item col col-4">
                <div class="card profil">
                    <a id="profil-button143">
                        <i class="icon"><img src="img/profil/profil.png" style="width: 50px;height: 50px;margin-bottom: 5px;"></i>
                            <div class="container">
                                <h4 class="textIcon"><b>Profil Perusahaan PDF</b></h4>
                            </div>
                    </a>
                </div> 
            </div>  
            <div class="item col col-4" >
                <div class="card profil">
                    <a ui-sref="menu.fasilitasInfrastruktur()" id="profil-button29">
                        <i class="icon"><img src="img/profil/infrastruktur.png" style="width: 50px;height: 50px;margin-bottom: 5px;"></i>
                            <div class="container ">
                                <h4 class="textIcon"><b>Fasilitas Infrastruktur</b></h4>
                            </div>
                    </a>
                </div> 
            </div>
        </div>

        <div class="row item-text-wrap text-center">
            <div class="item col col-4 ">
                <a ui-sref="menu.manajemen()" id="profil-button30">
                    <i class="icon"><img src="img/profil/manajemen.png" style="width: 50px;height: 50px;"></i>
                    <p>Manajemen</p>
                </a>
            </div>  
            <div class="item col col-4">
                <a ui-sref="menu.lingkunganK3()" id="profil-button34">
                    <i class="icon"><img src="img/profil/lingkungan.png" style="width: 50px;height: 50px;"></i>
                    <p>Lingkungan & K3</p>
                </a>
            </div>  
            <div class="item col col-4 ">
                <a ui-sref="menu.komiteAudit()" id="profil-button36">
                    <i class="icon"><img src="img/profil/audit.png" style="width: 50px;height: 50px;"></i>
                    <p>Komite Audit</p>
                </a>
            </div>  
        </div>

        <div class="row item-text-wrap text-center">
            <div class="item col col-4">
                <a id="profil-button31">
                    <i class="icon"><img src="img/profil/struktur.png" style="width: 50px;height: 50px;"></i>
                    <p>Struktur Organisasi</p>
                </a>
            </div>
            <div class="item col col-4">
                <a ui-sref="menu.profesiPenunjang()" id="profil-button38">
                    <i class="icon"><img src="img/profil/penunjang.png" style="width: 50px;height: 50px;"></i>
                    <p>Profesi Penunjang</p>
                </a>
            </div>
            <div class="item col col-4">
                <a ui-sref="menu.kapasitasProduksi()" id="profil-button28">
                    <i class="icon"><img src="img/profil/kapasitasProduksi.png" style="width: 50px;height: 50px;"></i>
                    <p>Kapasitas Produksi</p>
                </a>
            </div>  
        </div>

        <div class="row item-text-wrap text-center">
            <div class="item col col-4">
                <a ui-sref="menu.sumberDayaManusia()" id="profil-button32">
                    <i class="icon"><img src="img/profil/sdm.png" style="width: 50px;height: 50px;"></i>
                    <p>Sumber Daya Manusia</p>
                </a>
            </div>
            <div class="item col col-4">
                <a ui-sref="menu.komiteManajemenRisiko()" id="profil-button37">
                    <i class="icon"><img src="img/profil/.png" style="width: 50px;height: 50px;"></i>
                    <p>Komite Manajemen Resiko</p>
                </a>
            </div>   
            <div class="item col col-4 ">
                <a id="profil-button142">
                    <i class="icon"><img src="img/profil/anakPerusahaan1.png" style="width: 50px;height: 50px;"></i>
                    <p>Anak Perusahaan & Usaha Patungan</p>
                </a>
            </div>  
        </div>  

        <div class="row item-text-wrap text-center">
            <div class="item col col-4">
                <a ui-sref="menu.penghargaanPrestasi()" id="profil-button35">
                    <i class="icon"><img src="img/profil/penghargaan.png" style="width: 50px;height: 50px;"></i>
                    <p class="text-menuProfil">Penghargaan & Prestasi</p>
                </a>
            </div>  
            <div class="item col col-4">
                <a ui-sref="menu.marsPetrokimiaGresik()" id="profil-button41">
                    <i class="icon"><img src="img/profil/lirik.png" style="width: 50px;height: 50px;"></i>
                    <p>Mars Petrokimia Gresik</p>
                </a>
            </div>  
            <div class="item col col-4 ">
                <a ui-sref="menu.videoProfilPerusahaan()" id="profil-button42">
                    <i class="icon"><img src="img/profil/video1.png" style="width: 50px;height: 50px;"></i>
                    <p>Video Profil Perusahaan</p>
                </a>
            </div>  
        </div>
  </ion-content>
</ion-view>