<ion-view title="Pupuk" id="page15">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.ureaZA()" id="pupuk-button80" class="button button-positive button-block">Urea &amp; ZA</a>
    <a ui-sref="menu.sP36ZK()" id="pupuk-button81" class="button button-positive button-block">SP-36 &amp; ZK</a>
    <a ui-sref="menu.phonskaNPK()" id="pupuk-button82" class="button button-positive button-block">Phonska &amp; NPK</a>
    <a ui-sref="menu.pupukSpesifikasiKomoditi()" id="pupuk-button83" class="button button-positive button-block">Pupuk Spesifikasi Komoditi</a>
    <a ui-sref="menu.petroganik()" id="pupuk-button84" class="button button-positive button-block">Petroganik</a>
    <a ui-sref="menu.petroBiofertil()" id="pupuk-button85" class="button button-positive button-block">Petro Biofretil</a>
    <a ui-sref="menu.kCLRockPhosphate()" id="pupuk-button86" class="button button-positive button-block">KCL &amp; Rock Phosphate</a>
  </ion-content>
</ion-view>