<ion-view title="Rangkuman Kegiatan" id="page20">
  <ion-content padding="true" class="has-header">
    <button id="rangkumanKegiatan-button102" class="button button-positive button-block">Kegiatan Tahun 2016</button>
    <button id="rangkumanKegiatan-button127" class="button button-positive button-block">Kegiatan Tahun 2015</button>
    <button id="rangkumanKegiatan-button128" class="button button-positive button-block">Kegiatan Tahun 2014</button>
    <button id="rangkumanKegiatan-button129" class="button button-positive button-block">Kegiatan Tahun 2013</button>
  </ion-content>
</ion-view>