<ion-view title="Siaran Pers" id="page24">
  <ion-content padding="true" class="has-header">
    <ion-list id="siaranPers-list7">
      <ion-item class="item-thumbnail-left" id="siaranPers-list-item28" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="siaranPers-list-item29" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="siaranPers-list-item30" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="siaranPers-list-item31" ui-sref="menu.judulBerita()">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="list card" id="siaranPers-card22">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="siaranPers-list-item-container3">
        <div id="siaranPers-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="siaranPers-list-item32">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>