<ion-view title="Tanya Jawab GCG" id="page81">
<!-- ========================================== CSS =================================================== -->
<style type="text/css">
  .header-makna{
    background-color: #00b052;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .text-bodyMakna{
    color: #000;
    font-weight: bold;
    font-family: fantasy;
    text-align: justify;
  }
  .item p{
    text-align: justify;
  }

</style>
<!-- ========================================== END CSS =============================================== -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
    	<div class="item item-divider header-makna">
        Tanya Jawab GCG
      </div>
      <ion-item class="item-body">
        <div>
      		<ion-list-header>
              Di Indonesia juga dikenal istilah Code for Good Corporate Governance atau Code for CG, apakah ini sebenarnya ?
              <div>
                <p> Code for CG dikeluarkan oleh Komite Nasional Indonesia tentang Corporate Governance Policies mengeluarkan the Indonesian Code for Good Corporate Governance bagi masyarakat bisnis Indonesia. Isinya antara lain memuat hal-hal sebagai berikut : <br><br>

                1. Pemegang saham dan hak mereka<br>
                2. Fungsi Direksi perusahaan<br>
                3. Sistem Audit<br>
                4. Sekretaris Perusahaan<br>
                5. Stakeholders<br>
                6. Prinsip pengungkapan informasi perusahaan secara transparan<br>
                7. Prinsip kerahasiaan<br>
                8. Etika bisnis dan korupsi<br>
                9. Perlindungan terhadap lingkungan hidup<br>
                10. Bagaimana PT Petrokimia Gresik <br></p>
              </div>
          </ion-list-header>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>