<ion-view title="Tanya Jawab GCG" id="page82">
<!-- ========================================== CSS =================================================== -->
<style type="text/css">
  .header-makna{
    background-color: #00b052;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .text-bodyMakna{
    color: #000;
    font-weight: bold;
    font-family: fantasy;
    text-align: justify;
  }
  .item p{
    text-align: justify;
  }

</style>
<!-- ========================================== END CSS =============================================== -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
    	<div class="item item-divider header-makna">
        Tanya Jawab GCG
      </div>
      <ion-item class="item-body">
        <div>
      		<ion-list-header>
              Bagaimana PT Petrokimia Gresik mengimplementasikan GCG dalam pelaksanaan pengelolaan perusahaan ?
              <div>
                <p> PT Petrokimia Gresik bertanggung jawab terhadap banyak pihak (stakeholder) baik yang mempunyai hubungan transaksi langsung maupun tak langsung, yaitu : <br> pemegang saham, karyawan, pelanggan, pemasok, kreditur, masyarakat, dan pemerintah. <br> Implementasi GCG merupakan suatu kebutuhan bagi PT Petrokimia Gresik dalam mengelola perusahaan untuk mempertanggungjawabkan kepada stakeholdernya bahwa PT Petrokimia Gresik dikelola dengan baik sesuai dengan prinsip-prinsip GCG. Implementasi GCG yang meliputi keadilan, transparansi, akuntabilitas, independensi, responsibilitas tersebut mampu mendukung perusahaan memberikan nilai bagi kepentingan stakeholder.<br><br>

                Ruang lingkup penerapan GCG PT Petrokimia Gresik meliputi : <br><br>

                
                1.Komitmen<br>

                Komitmen dalam penerapan GCG diartikan sebagai aturan-aturan tertulis dan upaya perusahaan untuk melaksanakan aturan-aturan tersebut serta perhatian yang sungguh-sungguh terhadap kepentingan stakeholder.<br><br>
                2.Organ Utama<br>

                Organ utama dalam ruang lingkup penerapan GCG PT Petrokimia Gresik meliputi Rapat Umum Pemegang Saham (RUPS), Komisaris dan Direksi.<br><br>
                3.Organ Pendukung<br>

                Organ pendukung dalam penerapan GCG PT Petrokimia Gresik meliputi Komite Audit, Eksternal Auditor, Satuan Pengawasan Intern (SPI), dan Sekretaris Perusahaan.<br><br>
                4.Akses Informasi Kepada Publik<br>

                PT Petrokimia Gresik mempunyai komitmen untuk menyediakan informasi dan kemudahan untuk mengaksesnya.<br><br>
                5.Teknologi Informasi<br>

                Kegiatan operasional dan pengambilan keputusan PT Petrokimia Gresik telah terkomputerisasi. Semua perangkat penyedia data dan informasi disesuaikan dengan tuntutan operasi perusahaan dan perkembangan teknologi.<br><br>
                6.Manajemen Risiko<br>

                Manajemen Risiko didefinisikan sebagai serangkaian metodologi dan prosedur yang digunakan untuk mengelola risiko, meliputi proses identifikasi risiko, pengukuran risiko, pengendalian risiko, dan pemantauan risiko dari setiap kegiatan yang dilaksanakan oleh unit kerja. Oleh sebab itu, salah satu wujud komitmen implementasi GCG adalah dibentuknya Dep. Manajemen Risiko di bawah Kompartemen Perencanaan dan Pengendalian Usaha, di bawah Direktur Keuangan.<br><br>
                7.Etika Perusahaan<br>

                Perusahaan harus menghormati hak stakeholder yang timbul berdasarkan perundang-undangan yang berlaku dan/atau perjanjian yang dibuat oleh perusahaan dengan karyawan, pelanggan, pemasok, dan kreditur serta masyarakat sekitar tempat usaha perusahaan dan stakeholder lainnya. Pedoman perilaku bisnis perusahaan memuat standar etika perusahaan dan standar perilaku sebagai acuan moral dan etika bagi segenap elemen perusahaan dalam menerapkan nilai-nilai perusahaan untuk meraih dan menjaga reputasi sebagai perusahaan yang unggul dan memiliki integritas.<br> </p>
              </div>
          </ion-list-header>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>