<ion-view title="Tanya Jawab GCG" id="page78">
<!-- ========================================== CSS =================================================== -->
  <style type="text/css">
  .header-makna{
    background-color: #00b052;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .text-bodyMakna{
    color: #000;
    font-weight: bold;
    font-family: fantasy;
    text-align: justify;
  }
  .item p{
    text-align: justify;
  }

</style>
<!-- ========================================== END CSS ================================================ -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
    	<div class="item item-divider header-makna">
        Tanya Jawab GCG
      </div>
      <ion-item class="item-body">
        <div>
      		<ion-list-header>
              Mengapa perusahaan perlu mengimplementasikan Good Corporate Governance (GCG) ?
              <div>
                <p> Banyak manfaat yang mendasari alasan mengapa perusahaan perlu mengimplementasikan GCG, secara mendasar adalah :<br><br>

            1. Memberikan perlindungan hak dan kepentingan Shareholders dan Stakeholders, yaitu pemegang Saham, Elemen Perusahaan (Komisaris, Direksi, Karyawan), Pelanggan, Pemasok, Pesaing, Masyarakat dan Kreditur.<br>
            2. Meningkatkan nilai perusahaan dan pemegang saham<br>
            3. Meningkatkan efisiensi dan efektivitas kerja Dewan Pengurus (Board of Directors) dan manajemen perusahaan<br>
            4. Meningkatkan kualitas hubungan antara BOD dan manajemen senior perusahaan.<br><br>

            Bagi BUMN perlunya mengimplementasikan GCG telah diatur dalam Surat Keputusan Menteri BUMN No. KEP 117 Tahun 2002 yang telah diubah oleh Peraturan Menteri Negara BUMN nomor : PER-01/MBU/2011 tentang Penerapan Tata Kelola Perusahaan Yang Baik (Good Corporate Governance) pada Badan Usaha Milik Negara.</p>
              </div>
          </ion-list-header>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>