<ion-view title="Tanya Jawab GCG" id="page80">
<!-- ========================================== CSS =================================================== -->
<style type="text/css">
  .header-makna{
    background-color: #00b052;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .text-bodyMakna{
    color: #000;
    font-weight: bold;
    font-family: fantasy;
    text-align: justify;
  }
  .item p{
    text-align: justify;
  }

</style>
<!-- ========================================== END CSS =============================================== -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
    	<div class="item item-divider header-makna">
        Tanya Jawab GCG
      </div>
      <ion-item class="item-body">
        <div>
      		<ion-list-header>
              Apa yang melatar belakangi timbulnya Corporate Governance ?
              <div>
                <p> Yang melatar belakangi munculnya Corporate Governance adalah rontoknya atau jatuhnya perusahaan-perusahaan raksasa dunia seperti Enron Corporationi WorldCom di Amerika Serikat, HIH Insurance Company Ltd dan One-Tell Pty Ltd di Australia, serta Parmalat di Italia pada awal dekade 2000-an yang bangkrut gara-gara perusahaan tidak dikelola dengan baik dan bertanggung jawab, atau dengan kata lain Corporate Governance nya lemah.<br></p>
              </div>
          </ion-list-header>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>