<ion-view title="Tanya Jawab GCG" id="page51">
<!-- ========================================== CSS =================================================== -->
 
<!-- ========================================== END CSS ================================================ -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ========================================== LOGO =================================================== -->
          <ion-item class="item-image">
            <img style="width:100%; height: 150px;" src="img/features_confused.png">
          </ion-item>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
      <ion-item class="item-body">
        <div>
      		<ion-list>
			  <ion-item>
			    <h2>Mengapa perusahaan perlu mengimplementasikan Good Corporate Governance (GCG) ?</h2>
			    <p>See More...</p>
			    <button ion-button clear item-end ui-sref="menu.tanyaJawab1()" id="tanyaJawabGCG-button78">View</button>
			  </ion-item>
			</ion-list>
			<ion-list>
			  <ion-item>
			    <h2>Apa sebenarnya pengertian dari Corporate Governance ?</h2>
			    <p>See More...</p>
			    <button ion-button clear item-end ui-sref="menu.tanyaJawab2()" id="tanyaJawabGCG-button79">View</button>
			  </ion-item>
			</ion-list>
			<ion-list>
			  <ion-item>
			    <h2>Apa yang melatar belakangi timbulnya Corporate Governance ?</h2>
			    <p>See More...</p>
			    <button ion-button clear item-end ui-sref="menu.tanyaJawab3()" id="tanyaJawabGCG-button80">View</button>
			  </ion-item>
			</ion-list>
			<ion-list>
			  <ion-item>
			    <h2>Di Indonesia juga dikenal istilah Code for Good Corporate Governance atau Code for CG, apakah ini sebenarnya ?</h2>
			    <p>See More...</p>
			    <button ion-button clear item-end ui-sref="menu.tanyaJawab4()" id="tanyaJawabGCG-button81">View</button>
			  </ion-item>
			</ion-list>
			<ion-list>
			  <ion-item>
			    <h2>Bagaimana PT Petrokimia Gresik mengimplementasikan GCG dalam pelaksanaan pengelolaan perusahaan ?</h2>
			    <p>See More...</p>
			    <button ion-button clear item-end ui-sref="menu.tanyaJawab5()" id="tanyaJawabGCG-button82">View</button>
			  </ion-item>
			</ion-list>
			<ion-list>
			  <ion-item>
			    <h2>Sejauh mana pelaksanaan internal control di PT Petrokimia Gresik mampu mengawal implementasi prinsip-prinsip GCG ?</h2>
			    <p>See More...</p>
			    <button ion-button clear item-end ui-sref="menu.tanyaJawab6()" id="tanyaJawabGCG-button83">View</button>
			  </ion-item>
			</ion-list>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>