<ion-view title="Tanya Jawab GCG" id="page83">
<!-- ========================================== CSS =================================================== -->
<style type="text/css">
  .header-makna{
    background-color: #00b052;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .text-bodyMakna{
    color: #000;
    font-weight: bold;
    font-family: fantasy;
    text-align: justify;
  }
  .item p{
    text-align: justify;
  }

</style>
<!-- ========================================== END CSS =============================================== -->
  <ion-content padding="true" class="padding has-header">
    <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-back"></button>
  </ion-nav-buttons>
<!-- ============================= DETAIL MAKNA LOGO =================================================== -->
    <ion-list-header>
    	<div class="item item-divider header-makna">
        Tanya Jawab GCG
      </div>
      <ion-item class="item-body">
        <div>
      		<ion-list-header>
              Sejauh mana pelaksanaan internal control di PT Petrokimia Gresik mampu mengawal implementasi prinsip-prinsip GCG ?
              <div>
                <p> Sistem pengendalian internal (internal control) merupakan bagian dari praktek GCG, juga praktek manajemen, yang di dalamnya mencakup pengawasan yang memadai, etika bisnis, independensi, pengungkapan yang akurat dan tepat waktu, akuntabilitas dari seluruh pihak yang terlibat dalam proses pengelolaan perusahaan, serta mekanisme untuk memastikan adanya tindak lanjut yang tepat jika terjadi praktek maupun indikasi penyimpangan dalam perusahaan.<br><br>

                PT Petrokimia Gresik telah membangun sistem pengendalian intern yang diimplementasikan di setiap unit kerja, yang meliputi keberadaan struktur organisasi, prosedur-prosedur operasional, pengendalian kinerja melalui Rapat Anggaran bulanan antara Direksi dengan Pejabat Eselon I/II, rapat bulanan Direksi dengan Komisaris, Pedoman Perilaku Bisnis, Etika Perusahaan, Sistem Pelaporan keuangan/Non Keuangan, Organ Satuan Pengawasan Intern, dan Manajemen Risiko. Keseluruhan sistem tersebut disesuaikan dengan tujuan perusahaan , dinamika lingkungan, dan sifat bisnis organisasi.<br><br>

                Melalui media-media tersebut, sistem pengendalian intern PT Petrokimia Gresik dikomunikasikan ke seluruh jajaran sehingga tercipta bentuk pengendalian seperti adanya pemisahan fungsi, otoritas berjenjang, mekanisme pelaporan kegiatan kepada atasan, pengaturan hak akses data, pengendalian dokumen, sistem wewenang yang memadai untuk melindungi aset perusahaan, berjalannya praktek-praktek yang sehat di dalam melaksanakan tugas dan fungsi setiap bagian dalam organisasi, tercapainya tingkat kecakapan pegawai yang sesuai dengan tanggung jawabnya, dan lain sebagainya.<br><br>

                Dengan demikian, konstruksi pengendalian intern PT Petrokimia Gresik sejauh ini telah mampu mengawal/mendukung secara kondusif implementasi prinsip-prinsip GCG.<br></p>
              </div>
          </ion-list-header>
        </div>
      </ion-item>
  	</ion-list-header>
  </ion-content>
</ion-view>