<ion-view title="Tata Kelola" id="page6" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button id="tataKelola-button43" class="button button-balanced button-block">Pedoman GCG</button>
    <button id="tataKelola-button44" class="button button-balanced button-block">Pedoman WBS</button>
    <button id="tataKelola-button45" class="button button-balanced button-block">Pedoman Etika Kerja &amp; Etika Bisnis</button>
    <button id="tataKelola-button46" class="button button-balanced button-block">Pedoman Pengadaan Barang &amp; Jasa</button>
    <button id="tataKelola-button47" class="button button-balanced button-block">Pedoman Kebijakan Dekom &amp; Direksi</button>
    <button id="tataKelola-button48" class="button button-balanced button-block">Pedoman Kerja Komite Audit</button>
    <button id="tataKelola-button49" class="button button-balanced button-block">Pedoman Kerja Komite Man. Risiko</button>
    <button id="tataKelola-button50" class="button button-balanced button-block">Pedoman Pengendalian Gratifikasi</button>
    <button id="tataKelola-button51" class="button button-balanced button-block">Tanya Jawab GCG</button>
  </ion-content>
</ion-view>