<ion-view title="Tautan" id="page9" style="background-color:#FDFDFD;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-share"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button id="tautan-button18" class="button button-positive button-block">e-Procurement</button>
    <button id="tautan-button19" class="button button-positive button-block">e-Recruitment</button>
    <button id="tautan-button20" class="button button-positive button-block">ITS Surabaya</button>
    <button id="tautan-button21" class="button button-positive button-block">Kemeneg BUMN</button>
    <button id="tautan-button22" class="button button-positive button-block">Pupuk Indonesia</button>
    <button id="tautan-button23" class="button button-positive button-block">APPI</button>
    <button id="tautan-button57" class="button button-positive button-block">Kementan</button>
    <button id="tautan-button59" class="button button-positive button-block">Kabupaten Gresik</button>
    <button id="tautan-button60" class="button button-positive button-block">Majalah Elektronik GEMA</button>
    <button id="tautan-button24" class="button button-positive button-block">Tabloid Sahabat Petani</button>
    <button id="tautan-button58" class="button button-positive button-block">RSPG</button>
    <button id="tautan-button61" class="button button-positive button-block">Webmail</button>
    <button id="tautan-button62" class="button button-positive button-block">Himpen</button>
    <button id="tautan-button63" class="button button-positive button-block">Lapor</button>
  </ion-content>
</ion-view>